@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
:root{
    --color-blue--: rgba(135, 121, 179, 1);
    --text-blue--: #724D99;
    --button-bg-color:linear-gradient(265.16deg, #724D99 17.94%, #CBBFD9 109.03%);
    }
    * {
        box-sizing: border-box;
    }


    
    
    body {
        margin: 0;
        padding: 0;
       background-color:#E7DDF3 ;
       font-family:  Arial, Helvetica, sans-serif;
    }
    
    h1{
        padding: 0;
    }

    
.career-link .pages-link a{
    text-decoration: none;
    padding: 10px;
}
.career-link .pages-link {
    margin: 76px;
    margin-top: 70px;
}
.main-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.main-header h1{
    color: #724D99;
    font-weight: 700;
}
.main-header p{
    color: #797979;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
.main-header button{
    background: linear-gradient(148deg, #5D4082 0%, #A98CCE 72.57%);
    border-radius: 39px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 45px;
}
.image-section img{
    width: 50%;
    object-fit: contain;
    margin-left: 20px;
}
.image-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

.value-section{
    height: 800px;
 
    padding: 150px;
}
.value-section .card-value{
    background-color: white;
    border-radius: 30px;
    padding: 21px;
    height: 300px;
    width: 100%;
   
}
.value-section .card-value .icone-section{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    background-color: #FFDBB0;
    border-radius: 20px;
}
.value-section .card-value .icone-section img{
    width: 2rem;

}
.value-section .card-value h3{
    font-size: 25px;
    font-weight: 700;
    margin-top: 26px;
}
.value-section .card-value p{
    color: #797979;
    font-size: 16px;
}
.value-section h2{
    text-align: center;
    color: #724D99;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 76px;
}
.career-details .career-header{
    color: #724D99;
    text-align: center;
    font-weight: 800;
    font-size: 36px;

}
.career-details .main-career{
    display: flex;
    margin-right: 15%;
    margin-top: 10%;
    flex-wrap: wrap;
    margin-left: 15%;
    transition: 1s ease-in-out;

}
.career-details .main-career .single-career{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 46%;
    /* align-items: center; */
    flex: 40%;
    /* flex-wrap: wrap; */
    padding: 26px;
    margin: 10px 18px;
    border: 1px solid;
    border-radius: 13px;
}
.career-details .main-career .single-career h3{
    font-size: 22px;
    line-height: 37px;
    font-weight: 700;
}
.career-details .main-career .place{
    font-size: 14px;
}
.career-details .main-career span{
  color: #724D99;
}
.career-details .paragraph{
    color: #797979;
    font-size: 15px;
}
.career-details .main-career button{
    background-color: white;
    width: 34%;
    font-size: 13px;
    font-weight: 700;
    border: 1px solid;
    padding: 15px 15px;
    border-radius: 25px;
}
.career-details .main-career   :hover{
   background: #8D60BC !important;
    color: white;
}
.career-details .main-career :hover p{
    color: white;
}
.career-details .main-career   :hover span{
    color: white;
}
@media (max-width:900px) {
    .career-details .main-career {
        display: flex;
        margin-right: 1%;
        margin-top: 10%;
        flex-wrap: wrap;
        margin-left: 1%;
    }
    .career-details .main-career .single-career {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
        max-width: 46%;
        /* align-items: center; */
        flex: 41%;
        /* flex-wrap: wrap; */
        padding: 19px;
        margin: 10px 18px;
        border: 1px solid;
        border-radius: 13px;
    }
    .career-details .main-career button {
        width: 46%;
    }
}
@media (max-width:600px) {
    .career-link .pages-link {
        margin: 26px;
        margin-top: 70px;
    }
    .value-section {
        height: 600px;
        padding: 44px;
    }
    .single-career {
    
        max-width: 100% !important;
        /* align-items: center; */
        flex: 100% !important;
  
    }

}

