* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
  }
  
  
  
  .mainSec {
    width: 100%;
    height: 230vh;
    overflow-x: clip;
  }
  
  .bannerContainer {
    width: 100%;
    height: 40rem;
    position: relative;
  }
  
  .bannerContainer img {
    position: absolute;
    top: 0;
    left: 1.5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 15% 55%;
    /* border-bottom-left-radius: 35%; */
    /* border-bottom-left-radius: 170px 170px; */
    border-bottom-left-radius: 35% 35%;
    z-index: -1;
  }

  .contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
  }
  
  .contactHeading {
    font-weight: 700;
    color: white;
    font-size: 3.5rem;
    margin-bottom: 7.5rem;
  }
  
  .map {
    width: 100%;
    height: 30rem;
    position: relative;
  }
  .map h1 {
    position: absolute;
    top: 10%;
    left: 3%;
    /* transform: translate(-50%, -50%); */
    z-index: 1;
  }
  
  .getInTouch-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 95%;
    height: 29rem;
    margin: 1rem auto;
    padding: 1rem 0;
  }
  
  .getIn-grid1 {
    margin-top: 1.5rem;
    padding: 0 1.8rem;
    border-right: 5px solid #724d99;
  }
  
  .getIn-grid1 .head {
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 38.1px;
  }
  .getIn-grid1 .sub-head {
    margin-top: 2.6rem;
    font-size: 20px;
    font-weight: 700;
  }
  
  .getIn-grid1 .address-container {
    width: 95%;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }
  
  .address-container .icon-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .icon-container .icon {
    display: inline-block;
    width: 35px;
    object-fit: contain;
  }
  
  .getIn-grid2 {
    margin-top: 1rem;
    padding: 0 1.5rem;
  }
  
  .request-container {
    text-align: center;
  }
  
  .request-container h1 {
    /* font-size: 2.3rem; */
    font-size: 3rem;
    font-weight: 600;
    color: #724d99;
  }
  .request-container p {
    font-size: 1rem;
  }
  
  .callback-back-section h2 {
    /* margin-top: 7%; */
    text-align: center;
    color: #724d99;
    font-size: 3rem;
    font-weight: 700;
    line-height: 92px;
  }
  .callback-back-section p:first-of-type {
    text-align: center;
    color: #666767;
    font-weight: 400;
  }
  
  .row-section {
    display: flex;
    width: 100%;
    border-radius: 40px;
    margin-left: 2%;
    height: 20rem;
    margin-right: 5%;
    margin-top: 8%;
  
    background: linear-gradient(
      10.96deg,
      rgba(114, 77, 153, 0.99) 12.39%,
      rgba(142, 107, 180, 0.69) 79.54%
    );
  }
  .row-section .left-section {
    width: 81%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 27px;
  }
  .row-section .left-section h5 {
    color: #ffffff;
    font-size: 1.2rem;
  }
  .row-section .left-section p {
    margin-top: 0.3rem;
    font-size: 0.85rem;
    color: #bebfbf;
  }
  .row-section .left-section form {
    width: 100%;
    margin-top: 7%;
    position: relative;
  }
  .row-section .left-section input {
    border: none;
    height: 3rem;
    width: 100%;
    border-radius: 40px;
    padding-left: 2%;
  }
  
  .row-section .left-section button {
    position: absolute;
    right: 0%;
    border: none;
    bottom: 20px;
    color: #ffffff;
    border-radius: 40px;
    width: 30%;
    padding: 3px 10px;
    top: 20%;
    height: 60%;
    background: linear-gradient(
      93.36deg,
      rgba(114, 77, 153, 0.9) 25.3%,
      rgba(141, 90, 196, 0.48) 87.94%
    );
  }
  .row-section .left-section input::placeholder {
    color: #d4d6d6;
  }
  .row-section .right-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row-section .right-section .form-section {
    height: 400px;
    text-align: center;
    background-color: #ffff;
    width: 80%;
    border-radius: 40px;
    box-shadow: 0px 10px 25px 0px rgb(0, 0, 0, 0.5);
  }
  .row-section .right-section .form-section .install {
    font-size: 0.9rem;
    margin-top: 1rem;
  }
  .row-section .right-section .form-section h4 {
    color: #724d99;
    font-weight: 400;
    padding: 7px;
    font-size: 2rem;
  }
  .row-section .right-section .form-section .request {
    font-size: 0.9rem;
    color: #666767;
  }
  .row-section .right-section .form-section .input-group {
    width: 90%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .row-section .right-section .form-section .input-group label {
    color: rgb(165, 165, 165);
    font-size: 0.9rem;
    position: absolute;
    top: 10px;
    transition: 0.2s ease-in-out;
  }
  
  .row-section .right-section .form-section .input-group input {
    border: none;
    padding: 7px;
    margin-top: 5px;
    outline: none;
    border-bottom: 1px solid #c9c9c98a;
    color: rgba(6, 72, 105, 0.849);
    caret-color: rgb(7, 158, 246);
  }
  .row-section .right-section .form-section button {
    background: linear-gradient(
      93.36deg,
      rgba(114, 77, 153, 0.9) 25.3%,
      rgba(141, 90, 196, 0.48) 87.94%
    );
    /* margin-top: 3%; */
    border: none;
    color: #ffffff;
    border-radius: 40px;
    padding: 6px 18px;
  }
  .row-section .right-section .form-section .input-group input:focus ~ label,
  .row-section .right-section .form-section .input-group input:valid ~ label {
    top: -10px;
    font-size: 0.6rem;
    color: rgba(6, 72, 105, 0.849);
  }
  
  .row-section .right-section .form-section .input-group input:focus,
  .input-group input:valid {
    border-color: rgba(6, 72, 105, 0.849);
  }
  
  
  
  @media only screen and (max-width: 1301px) {
    .bannerContainer {
      width: 100%;
      height: 32rem;
      position: relative;
    }
  
    .row-section .left-section button {
      padding: 2px;
    }
  
    .getIn-grid1 .address-container {
      gap: 2rem;
    }
  
    .getIn-grid1 .sub-head {
      font-weight: 500;
    }
  }
  
  @media (max-width: 1135px) {
    .bannerContainer {
      height: 29rem;
    }
    .subSlideMain .contentSub {
      height: 65%;
    }
    .mainSlideBanner .content {
      height: 55%;
    }
    .header {
      width: 100%;
    }
    .header .navSection {
      width: 64%;
    }
  
    .logoSection img {
      width: 19rem;
    }
  }
  
  @media (max-width: 960px) {
    .bannerContainer {
      height: 70vh;
    }
    .logoSection img {
      width: 16rem;
    }
  
    .header .navSection {
      padding-top: 2.5rem;
      width: 75%;
    }
  
  }
  
  @media (max-width: 760px) {
    .getInTouch-container {
      display: flex;
      flex-direction: column;
    }
    .mainSec {
    
      height: 310vh;
  
    }
    .row-section .right-section .form-section {
      height: 340px !important;
    }
    .callback-back-section h2 {
      font-size: 1.5rem;
  
  }
  .row-section .right-section .form-section .input-group {
    margin: 15px auto;
  }
  .row-section {
    margin-left: 0 !important;
  }
  .row-section .right-section .form-section h4
  {
    padding: 15px;
  }
  .bannerContainer {
    height: 60vh;
}
    .header .navSection {
      display: none;
    }
  
    .contactContainer .contactHeading {
      margin-bottom: -2.5rem;
      font-size: 2rem;
    }
    .navHamBurger {
      display: block;
      color: white;
    }
    .row-section {
      display: flex;
      flex-direction: column;
      width: 98%;
      border-radius: 40px;
    margin: 3px;
      position: relative;
      height: 31rem;
      align-items: center;
      justify-content: center;
  
      margin-top: 74%;
      background: linear-gradient(10.96deg, rgba(114, 77, 153, 0.99) 12.39%, rgba(142, 107, 180, 0.69) 79.54%);
  }
  .row-section .left-section {
      width: 100%;
      margin-top: 97px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
  }
  .row-section .right-section .form-section {
      /* position: absolute; */
      height: 450px;
      text-align: center;
      background-color: #ffff;
      position: absolute;
      /* width: 32%; */
      width: 80%;
      left: 10%;
      /* display: flex; */
      /* align-items: center; */
      /* justify-content: center; */
      /* flex-direction: column; */
      border-radius: 40px;
      box-shadow: 0px 10px 25px 0px rgb(0,0,0,0.4);
      top: -325px;
  }
  .row-section .right-section .form-section h4 {
      color: #724D99;
      font-weight: 400;
      font-size: 1.5rem;
  }
  .callback-back-section h2 {
      margin-top: 5%;
      text-align: center;
      color: #724D99;
      font-size: 2rem;
      font-weight: 700;
      line-height: 62px;
  }
  .callback-back-section .request-p {
      text-align: center;
      font-weight: 400;
      padding: 0px 25px;
  }
  }
  
  @media (max-width: 420px) {
    .header .logoSection img {
      width: 10rem;
    }
    .mainSec {
    
      height: 260vh;
  
    }
    .bannerContainer {
      height: 26rem;
      margin-top: -9px;
      margin-left: -2px;
    }
    .contactContainer .contactHeading {
      font-size: 1.5rem;
    }
  }
  @media (max-width:900px) {
    .getIn-grid2 {
      padding: 0;
    }
    .row-section .left-section button {
      position: absolute;
      right: -5%;
      border: none;
      bottom: 20px;
      color: #ffffff;
      border-radius: 40px;
      width: 36%;
      /* padding: 3px 10px; */
      top: 20%;
      height: 60%;
      background: linear-gradient( 93.36deg, rgba(114, 77, 153, 0.9) 25.3%, rgba(141, 90, 196, 0.48) 87.94% );
  }
  .callback-back-section h2 {
    /* margin-top: 7%; */
    text-align: center;
    color: #724d99;
    font-size: 2rem;
    font-weight: 700;
    line-height: 57px;
  }
    .row-section {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 15px;
      margin-left: 5%;
      position: relative;
      height: 27rem;
      align-items: center;
      justify-content: center;
      margin-right: 5%;
      margin-top: 70%;
      background: linear-gradient(10.96deg, rgba(114, 77, 153, 0.99) 12.39%, rgba(142, 107, 180, 0.69) 79.54%);
  }
  .row-section .left-section {
      width: 70%;
      margin-top: 97px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
  
  }
  .row-section .left-section p {
      text-align: justify;
      color: #BEBFBF;
  }
  .row-section .left-section input {
      border: none;
      height: 3rem;
      width: 100%;
      border-radius: 40px;
      padding-left: 10%;
  }
  .row-section .right-section .form-section {
      /* position: absolute; */
      height: 303px;
      text-align: center;
      background-color: #ffff;
      position: absolute;
      /* width: 32%; */
      width: 80%;
      left: 10%;
      /* display: flex; */
      /* align-items: center; */
      /* justify-content: center; */
      /* flex-direction: column; */
      border-radius: 40px;
      box-shadow: 0px 10px 25px 0px rgb(0,0,0,0.4);
      top: -193px;
  }
    
  }
  