.footer-section {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background: #fb501c;
  display: flex;
  border-radius: 40px;
  height: 450px;
  margin-top: 5%;
  flex-wrap: wrap;
}
.footer-section div {
  padding: 14px;
}
.footer-section .logo-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-section .logo-section p {
  color: white;
  text-align: justify;
  width: 84%;
  line-height: 23px;
}
.footer-section .logo-section .social-media-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.social-media-links img {
  cursor: pointer;
}

.footer-section .pages-link {
  width: 30%;
  display: flex;
  margin-top: 3rem;
  justify-content: start;
  align-items: start;
  justify-items: center;
  flex-direction: column;

  padding-left: 50px;
}
.footer-section .pages-link a {
  text-decoration: none;
  color: white;
  line-height: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}
.footer-section .policy-section {
  width: 30%;
  margin-top: 3rem;
  display: flex;
  justify-content: start;
  align-items: start;
  justify-items: center;
  flex-direction: column;

  padding-left: 30px;
}
.footer-section .policy-section a {
  text-decoration: none;
  color: white;
  line-height: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}
.footer-section .copy-right p {
  color: #ffffff;
  font-size: 0.8rem;
}
.footer-section .copy-right {
  display: flex;
  width: 90%;
  align-items: end;
  padding-left: 10%;
  color: white;
  justify-content: space-evenly;
  display: flex;
}

@media screen and (max-width: 700px) {
  .footer-section .logo-section {
    width: 100%;
  }
  .footer-section .pages-link {
    display: none;
  }

  .footer-section .policy-section {
    display: none;
  }
  .footer-section .logo-section .social-media-links {
    width: 60%;
  }
  .footer-section .hidden {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .footer-section .logo-section .social-media-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
  .footer-section .logo-section p {
    color: #ffffff;
    text-align: justify;
  }
  .footer-section .footer-logo {
    width: 15rem;
    padding-bottom: 62px;
  }
  .footer-section .logo-section {
    padding: 0px 20px;
  }
}
.logo-section p {
  padding: 20px;
}
