@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");

.footer-section {
  width: 95%;
  height: auto !important;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background: #fb501c;
  display: flex;
  border-radius: 40px;
  height: 450px;
  margin-top: 5%;
  flex-wrap: wrap;
}
.footer-section div {
  padding: 14px;
}
.footer-section .logo-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 4vw;
}

.footer-section .logo-section img {
  margin-bottom: 15px !important;
}
.footer-section .logo-section p {
  text-align: left;
  width: 95%;
  line-height: 23px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: medium;
  font-weight: 500;
}

.social-media-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 !important;
}

.social-media-links .sm-icons {
  padding: 0;
}

.social-media-links img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 0.5vw;
}

.footer-section .pages-link {
  display: flex;
  margin-top: 3rem;
  justify-content: start;
  align-items: start;
  justify-items: center;
  flex-direction: column;
}
.footer-section .pages-link a {
  text-decoration: none;
  line-height: 35px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: medium;
  font-weight: 500;
}
.footer-section .policy-section {
  margin-top: 3rem;
  display: flex;
  justify-content: start;
  align-items: start;
  justify-items: center;
  flex-direction: column;
}
.footer-section .policy-section a {
  text-decoration: none;
  color: white;
  line-height: 35px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: medium;
  font-weight: 500;
}

.address {
  padding-left: 3vw;
}

.address h3 {
  margin-top: 3rem;
}
.address h3,
h5 {
  color: #ffffff !important;
  font-family: "Raleway", sans-serif;
  font-size: large;
  font-weight: 700 !important;
}

.address p {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: medium;
  font-weight: 500;
}

.footer-section .copy-right p {
  color: #ffffff;
  font-size: 0.8rem;
}
.footer-section .copy-right {
  display: flex;
  width: 90%;
  align-items: end;
  padding-left: 10%;
  color: white;
  justify-content: space-evenly;
  display: flex;
}

@media screen and (max-width: 700px) {
}
